@use '../abstracts' as *;

.cta {
  position: relative;
  top: rem(180);
}

.cta__card {
  border-radius: 1em;
  background-color: $cta-bg;
  padding: rem(32) rem(18);
  text-align: center;
}

.cta__title {
  font-size: rem(18);
}

.cta__form {
  display: grid;
  margin-top: rem(40);
}

.cta__input-email {
  border: none;
  border-radius: 5em;
  padding: rem(14);
  width: 100%;
  font-size: rem(14);
  
  &:focus {
    outline: none;
  }
}

.cta__error-message {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  margin-top: rem(10);
  color: $error-color;
  font-size: rem(12);
  font-weight: 700;
}

// Email validation
.cta__input-email:focus:invalid ~ .cta__error-message {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
