@use '../abstracts' as *;

.features {
  padding-top: rem(350);
  padding-bottom: rem(90);
  
  @include breakpoint-up('very-small') {
    padding-top: rem(250);
  }
}

.features__list {
  display: grid;
  gap: rem(60);
  
  @include breakpoint-up('very-small') {
    grid-template-columns: repeat(2, 1fr);
  }
}

.features__item {
  margin: 0 auto;
  max-width: rem(300);
  text-align: center;
}

// For an unknown reason, the 'icon-security.svg' is bigger than other icon
// even though have the same width with other.
// So I make it smaller to make sure that all icons have the same size.
.features__item:nth-child(2) .features__icon {
  width: rem(50);
}

.features__title {
  font-size: rem(18);
}

.features__icon {
  margin: 0 auto;
  padding-bottom: rem(24);
  width: rem(60);
}

.features__description {
  margin: 0;
}