@use '../abstracts' as *;

.footer {
  padding-top: rem(240);
  padding-bottom: rem(70);
  background-color: $footer-bg;
}

.footer__logo {
  width: rem(180);
  margin-bottom: rem(40);
}

.footer__container {
  
  @include breakpoint-up('large') {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
}

// Info
.info {
  margin-top: rem(40);
  
  @include breakpoint-up('very-small') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30);
  }
  
  @include breakpoint-up('large') {
    margin-top: 0;
  }
}

.info__item {
  display: flex;
  gap: rem(20);
  align-items: center;
  margin-top: rem(30);
}

/**
* 1. To make the 'icon-location.svg' align horizontally with the paragraph.
* 2. To make the 'icon-location.svg' have the same 'gap' as the other two icons.
*/
.info__item:first-child .info__icon {
  margin-top: rem(5); /* 1 */
  margin-right: rem(5); /* 2 */
  align-self: flex-start;
}

.info__item:first-child .info__description {
  
  @include breakpoint-up('large') {
    align-self: flex-start;
  }
}

.info__description,
.info__link {
  margin: 0;
  font-size: rem(16);
}

.info__description {
  
  @include breakpoint-up('very-small') {
    margin: 0;
    max-width: rem(300);
  }
}

.info__link {
  color: $white;
  
  @include on-event {
    text-decoration: underline;
  }
}

// Footer Nav
.footer__nav {
  margin: rem(40) 0;
  
  @include breakpoint-up('large') {
    margin: 0;
  }
}

.footer__list {
  
  @include breakpoint-up('very-small') {
    column-count: 2;
  }
}

.footer__item {
  line-height: 2.5;
}

.footer__item:nth-child(5) {
  margin-top: rem(40);
}

.footer__link {
  color: $white;
  font-size: rem(16);
    
  @include on-event {
    font-weight: 700;
  }
}

// Social
.social {
  display: flex;
  gap: rem(16);
  justify-content: center;
  margin-top: rem(40);
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rem(1) solid $white;
  border-radius: 50%;
  cursor: pointer;
  height: rem(50);
  width: rem(50);
  
  @include on-event {
    border-color: $cyan;
    
    .social__link {
      color: $cyan;
    }
  }
}

.social__link {
  color: $white;
}

.social__link ion-icon {
  font-size: rem(24);
}