@use '../abstracts' as *;

.header {
  background-color: $header-bg;
  background-image: url('../images/bg-curvy-mobile.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: rem(20) 0;
  height: rem(400);
  overflow-y: visible;
  
  @include breakpoint-up('very-small') {
    height: rem(500);
  }
}

.header__content {
  margin-top: rem(40);
  text-align: center;
}

.header__title {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(500);
  font-size: rem(24);
}

.header__description {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(500);
}

.header__img {
  margin-bottom: rem(20);
  
  @include breakpoint-up('very-small') {
    margin-right: auto;
    margin-left: auto;
    max-width: rem(400);
  }
  
}

// Nav
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__home {
  flex-basis: rem(100);
}

.nav__list {
  display: flex;
  gap: rem(20);
}

.nav__link {
  color: $white;
  font-family: $header-navigation-ff;
  
  @include on-event {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 20.625em) {
    font-size: rem(12);
  }
}