@use '../abstracts' as *;

.productive {
  padding: rem(90) 0;
}

.productive .container {
  display: flex;
  flex-direction: column-reverse;
  gap: rem(20);
  
  @include breakpoint-up('medium') {
    display: flex;
    flex-direction: row-reverse;
  }
}

.productive__text {
  margin: 0 auto;
  max-width: rem(500);
}

.productive__title {
  font-size: rem(18);
}

.productive__description {
  margin: rem(20) 0;
}

.productive__link {
  display: flex;
  align-items: center;
  gap: rem(10);
  border-bottom: rem(1) solid $cyan;
  padding-bottom: rem(5);
  width: 20ch;
  color: $cyan;
  font-size: rem(12);
  
  @include on-event {
    border-bottom: rem(1) solid $white;
    color: $white;
    
    svg use {
      fill: $white;
    }
  }
}

.productive__img {
  
  @include breakpoint-up('very-small') {
    margin-right: auto;
    margin-left: auto;
    max-width: rem(400);
  }
}