@use '../abstracts' as *;

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $cyan;
  color: $white;
}

::-moz-selection {
  background-color: $cyan;
  color: $white;
}

html {
  font-size: $default-html-font-size;
}

body {
  background-color: $main-bg;
  overflow-x: hidden;
  color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: rem(14);
}

// h1 - h6
@for $i from 1 through 6 {
  h#{$i} {
    margin: rem(14) 0;
    line-height: 1.6;
    font-family: $headings-ff;
  }
}

p,
blockquote {
  margin: rem(14) 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

// Screen Reader Class
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}